/* home.module.css */

.container {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: aliceblue;
    background-color: rgb(8, 8, 8);
    background: url('/static/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.innerContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.credit {
    text-align: center;
    margin-top: auto;
}

.questionBox {
    position: relative;
    background: #0d0e36cc;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: auto;
}

.blinkingCursor {
    font-weight: bold;
    font-size: 24px;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.lessIsMore {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
    color: #336699; /* Friendly dark blue color */
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.questionTextContainer {
    display: inline-flex;
    align-items: center;
}

.questionText {
    color: aliceblue;
    font-size: 24px;
    margin-bottom: 20px;
    transition: opacity 1s ease-in-out;
}

.hidden {
    display: none;
}

.userInput {
    width: 70ch; /* Width to fit 70 characters */
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: opacity 1s ease-in-out;
    text-align: center; /* Center the text inside the input box */
    box-sizing: border-box;
}

.nextButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.clearButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.inputCount {
    margin-top: 10px;
    font-size: 16px;
}

.shake {
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.stage {
    display: none;
}

.activeStage {
    display: block;
}

.introduction {
    text-align: center;
    padding: 20px;
}
